<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final project - Programing For Data Science
</div>

## **Th√¥ng tin nh√≥m**

#### Th√†nh vi√™n 1:
* **H·ªç v√† t√™n:** V√µ Duy Anh
* **MSSV:** 21127221

#### Th√†nh vi√™n 2:
* **H·ªç v√† t√™n:** Nguy·ªÖn M·∫≠u Gia B·∫£o
* **MSSV:** 21127583

## **Th√¥ng tin ƒë·ªì √°n**

### **N·ªôi dung**
1. Collecting data
2. Exploring data
3. Asking meaningful questions
4. Preprocessing + analyzing data to answer each question
5. Reflection
6. References

### **Th∆∞ vi·ªán h·ªó tr·ª£**

In [229]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

### **1. Collecting data**

#### üìå What subject is your data about? What is the source of your data?

#### üìå Do authors of this data allow you to use like this? You can check the data license

#### üìå How did authors collect data?

### **2.Exploring data**

#### Read data from file

In [230]:
data = pd.read_csv("Global YouTube Statistics.csv",encoding='ISO-8859-1')
data.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

#### üìå How many rows and how many columns does the data have?

In [231]:
shape = data.shape
print(f"Data current shape: {shape}")

Data current shape: (995, 28)

In [232]:
row,col = data.shape
print(f'Data have {row} rows and {col} columns')

Data have 995 rows and 28 columns

#### üìå What is the meaning of each row?

####  üìå Does the data have duplicate rows?

In [233]:
index = data.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

In [234]:
# TEST
if num_duplicated_rows == 0:
    print(f"Data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Data have {num_duplicated_rows} duplicated " + ext + ".")

Data have no duplicated line.!

#### üìå What is the meaning of each column?

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Columns</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px; text-align: left;">1</td>
      <td style="font-size: 14px; text-align: left;">rank</td>
      <td style="font-size: 14px; text-align: left;">V·ªã tr√≠ c·ªßa k√™nh YouTube d·ª±a tr√™n s·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">2</td>
      <td style="font-size: 14px; text-align: left;">Youtuber</td>
      <td style="font-size: 14px; text-align: left;">T√™n k√™nh YouTube</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">3</td>
      <td style="font-size: 14px; text-align: left;">subscribers</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">4</td>
      <td style="font-size: 14px; text-align: left;">video views</td>
      <td style="font-size: 14px; text-align: left;">T·ªïng s·ªë l∆∞·ª£t xem tr√™n t·∫•t c·∫£ video tr√™n k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">5</td>
      <td style="font-size: 14px; text-align: left;">category</td>
      <td style="font-size: 14px; text-align: left;">Danh m·ª•c ho·∫∑c ph√¢n kh√∫c c·ªßa k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">6</td>
      <td style="font-size: 14px; text-align: left;">Title</td>
      <td style="font-size: 14px; text-align: left;">Ti√™u ƒë·ªÅ c·ªßa k√™nh YouTube</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">7</td>
      <td style="font-size: 14px; text-align: left;">uploads</td>
      <td style="font-size: 14px; text-align: left;">T·ªïng s·ªë video upload tr√™n k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">8</td>
      <td style="font-size: 14px; text-align: left;">Country</td>
      <td style="font-size: 14px; text-align: left;">Qu·ªëc gia n∆°i k√™nh YouTube b·∫Øt ngu·ªìn</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">9</td>
      <td style="font-size: 14px; text-align: left;">Abbreviation</td>
      <td style="font-size: 14px; text-align: left;">Vi·∫øt t·∫Øt c·ªßa qu·ªëc gia</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">10</td>
      <td style="font-size: 14px; text-align: left;">channel_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i k√™nh YouTube </td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">11</td>
      <td style="font-size: 14px; text-align: left;">video_views_rank</td>
      <td style="font-size: 14px; text-align: left;">X·∫øp h·∫°ng k√™nh d·ª±a tr√™n t·ªïng l∆∞·ª£t xem video</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">12</td>
      <td style="font-size: 14px; text-align: left;">country_rank</td>
      <td style="font-size: 14px; text-align: left;">X·∫øp h·∫°ng k√™nh d·ª±a tr√™n s·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω trong qu·ªëc gia c·ªßa k√™nh ƒë√≥</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">13</td>
      <td style="font-size: 14px; text-align: left;">channel_type_rank</td>
      <td style="font-size: 14px; text-align: left;"> Ranking of the channel based on its type (individual or brand)</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">14</td>
      <td style="font-size: 14px; text-align: left;">video_views_for_the_last_30_days</td>
      <td style="font-size: 14px; text-align: left;"> T·ªïng s·ªë l∆∞·ª£t xem video trong 30 ng√†y qua</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">15</td>
      <td style="font-size: 14px; text-align: left;">lowest_monthly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p h√†ng th√°ng ∆∞·ªõc t√≠nh th·∫•p nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">16</td>
      <td style="font-size: 14px; text-align: left;">highest_monthly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p h√†ng th√°ng ∆∞·ªõc t√≠nh cao nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">17</td>
      <td style="font-size: 14px; text-align: left;">lowest_yearly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p ∆∞·ªõc t√≠nh h√†ng nƒÉm th·∫•p nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">18</td>
      <td style="font-size: 14px; text-align: left;">highest_yearly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p ∆∞·ªõc t√≠nh h√†ng nƒÉm cao nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">19</td>
      <td style="font-size: 14px; text-align: left;">subscribers_for_last_30_days</td>
      <td style="font-size: 14px; text-align: left;"> S·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω m·ªõi ƒë·∫°t ƒë∆∞·ª£c trong 30 ng√†y qua</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">20</td>
      <td style="font-size: 14px; text-align: left;">created_year</td>
      <td style="font-size: 14px; text-align: left;"> NƒÉm k√™nh YouTube ƒë∆∞·ª£c t·∫°o</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">21</td>
      <td style="font-size: 14px; text-align: left;">created_month</td>
      <td style="font-size: 14px; text-align: left;"> Th√°ng k√™nh YouTube ƒë∆∞·ª£c t·∫°o</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">22</td>
      <td style="font-size: 14px; text-align: left;">created_date</td>
      <td style="font-size: 14px; text-align: left;"> Ng√†y ch√≠nh x√°c t·∫°o k√™nh YouTube</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">23</td>
      <td style="font-size: 14px; text-align: left;">Gross tertiary education enrollment (%)</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá d√¢n s·ªë theo h·ªçc gi√°o d·ª•c ƒë·∫°i h·ªçc trong c·∫£ n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">24</td>
      <td style="font-size: 14px; text-align: left;">Population</td>
      <td style="font-size: 14px; text-align: left;"> T·ªïng d√¢n s·ªë c·∫£ n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">25</td>
      <td style="font-size: 14px; text-align: left;">Unemployment rate</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá th·∫•t nghi·ªáp trong n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">26</td>
      <td style="font-size: 14px; text-align: left;">Urban_population</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá d√¢n s·ªë s·ªëng ·ªü khu v·ª±c th√†nh th·ªã</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">27</td>
      <td style="font-size: 14px; text-align: left;">Latitude</td>
      <td style="font-size: 14px; text-align: left;"> T·ªça ƒë·ªô vƒ© ƒë·ªô c·ªßa v·ªã tr√≠ ƒë·∫•t n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">28</td>
      <td style="font-size: 14px; text-align: left;">Longitude</td>
      <td style="font-size: 14px; text-align: left;"> T·ªça ƒë·ªô kinh ƒë·ªô c·ªßa v·ªã tr√≠ ƒë·∫•t n∆∞·ªõc</td>
    </tr>
  </tbody>
</table>

#### üìå C√≥ c·ªôt n√†o d∆∞ th·ª´a hay kh√¥ng c·∫ßn thi·∫øt kh√¥ng?

Ti·∫øn h√†nh lo·∫°i b·ªè c√°c c·ªôt `rank`, `Title`, `Abbreviation`, `Gross tertiary education enrollment (%)`, `Unemployment rate`, `Urban_population`, `Latitude`, `Longitude`
- C·ªôt `rank` l√† v·ªã tr√≠ c·ªßa k√™nh d·ª±a tr√™n s·ªë l∆∞·ª£ng ƒëƒÉng k√Ω, kh√¥ng mang nhi·ªÅu √Ω nghƒ©a
- C·ªôt `Title` c√≥ gi√° tr·ªã g·∫ßn nh∆∞ l√† tr√πng l·∫∑p v·ªõi c·ªôt `Youtuber`  
- C·ªôt `Abbreviation` l√† t√™n vi·∫øt t·∫Øt c·ªßa qu·ªëc gia, kh√¥ng mang nhi·ªÅu √Ω nghƒ©a
- C·ªôt  `Gross tertiary education enrollment (%)`, `Unemployment rate`, `Urban_population`, `Latitude`, `Longitude` kh√¥ng mang nhi·ªÅu √Ω nghƒ©a

In [235]:
drop_cols = ['rank', 'Title', 'Abbreviation', 'Gross tertiary education enrollment (%)', 'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude']
data.drop(drop_cols, axis=1, inplace=True)
data.head()

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_month,created_date,Population
0,T-Series,245000000,2.280000e+11,Music,20082,India,Music,1.0,1.0,1.0,2.258000e+09,564600.0,9000000.00,6800000.00,1.084000e+08,2000000.0,2006.0,Mar,13.0,1.366418e+09
1,YouTube Movies,170000000,0.000000e+00,Film & Animation,1,United States,Games,4055159.0,7670.0,7423.0,1.200000e+01,0.0,0.05,0.04,5.800000e-01,NaN,2006.0,Mar,5.0,3.282395e+08
2,MrBeast,166000000,2.836884e+10,Entertainment,741,United States,Entertainment,48.0,1.0,1.0,1.348000e+09,337000.0,5400000.00,4000000.00,6.470000e+07,8000000.0,2012.0,Feb,20.0,3.282395e+08
3,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,966,United States,Education,2.0,2.0,1.0,1.975000e+09,493800.0,7900000.00,5900000.00,9.480000e+07,1000000.0,2006.0,Sep,1.0,3.282395e+08
4,SET India,159000000,1.480000e+11,Shows,116536,India,Entertainment,3.0,2.0,2.0,1.824000e+09,455900.0,7300000.00,5500000.00,8.750000e+07,1000000.0,2006.0,Sep,20.0,1.366418e+09

#### üìå What is the current data type of each column? Are there columns having inappropriate data types?

In [236]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Youtuber                          995 non-null    object
 1   subscribers                       995 non-null    int64
 2   video views                       995 non-null    float64
 3   category                          949 non-null    object
 4   uploads                           995 non-null    int64
 5   Country                           873 non-null    object
 6   channel_type                      965 non-null    object
 7   video_views_rank                  994 non-null    float64
 8   country_rank                      879 non-null    float64
 9   channel_type_rank                 962 non-null    float64
 10  video_views_for_the_last_30_days  939 non-null    float64
 11  lowest_monthly_earnings           995 non-null    float64
 12  highest_monthly_earnings          995 non-null    float64
 13  lowest_yearly_earnings            995 non-null    float64
 14  highest_yearly_earnings           995 non-null    float64
 15  subscribers_for_last_30_days      658 non-null    float64
 16  created_year                      990 non-null    float64
 17  created_month                     990 non-null    object
 18  created_date                      990 non-null    float64
 19  Population                        872 non-null    float64
dtypes: float64(13), int64(2), object(5)
memory usage: 155.6+ KB

- Nh√¨n chung c√°c c·ªôt `video views`, `video_views_rank`, `country_rank`, `channel_type_rank`, `video_views_for_the_last_30_days`,`subscribers_for_last_30_days`, `created_year`, `created_date`, `Population` c·∫ßn chuy·ªÉn v·ªÅ d·∫°ng int
- C√°c c·ªôt `created_year`, `created_date` chuy·ªÉn v·ªÅ object ƒë·ªÉ ph√¢n v√†o categorical, tuy nhi√™n ·ªü b∆∞·ªõc n√†y nh√≥m em v·∫´n ƒë·ªÉ `created_year`, `created_date` ·ªü ki·ªÉu s·ªë ƒë·ªÉ c√≥ th·ªÉ ƒëi·ªÅn gi√° tr·ªã b·ªã thi·∫øu v√† s·∫Ω chuy·ªÉn v·ªÅ d·∫°ng object sau

In [237]:
cols_list = ['video_views_rank', 'country_rank', 'channel_type_rank', 'video_views_for_the_last_30_days','subscribers_for_last_30_days', 'Population' ]
for column in cols_list:
    data[column] = pd.to_numeric(data[column], errors='coerce')
data['video views'] = data['video views'].astype(np.int64)

In [238]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 20 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Youtuber                          995 non-null    object
 1   subscribers                       995 non-null    int64
 2   video views                       995 non-null    int64
 3   category                          949 non-null    object
 4   uploads                           995 non-null    int64
 5   Country                           873 non-null    object
 6   channel_type                      965 non-null    object
 7   video_views_rank                  994 non-null    float64
 8   country_rank                      879 non-null    float64
 9   channel_type_rank                 962 non-null    float64
 10  video_views_for_the_last_30_days  939 non-null    float64
 11  lowest_monthly_earnings           995 non-null    float64
 12  highest_monthly_earnings          995 non-null    float64
 13  lowest_yearly_earnings            995 non-null    float64
 14  highest_yearly_earnings           995 non-null    float64
 15  subscribers_for_last_30_days      658 non-null    float64
 16  created_year                      990 non-null    float64
 17  created_month                     990 non-null    object
 18  created_date                      990 non-null    float64
 19  Population                        872 non-null    float64
dtypes: float64(12), int64(3), object(5)
memory usage: 155.6+ KB

- Ch√∫ng ta c√≥ th·ªÉ th·∫•y , m·∫∑c d√π chuy·ªÉn sang int64 nh∆∞ng v·∫´n xu·∫•t hi·ªán float64 ·ªü c√°c c·ªôt m√† ta mu·ªën chuy·ªÉn, ƒëi·ªÅu n√†y l√† do vi·ªác b·ªã thi·∫øu d·ªØ li·ªáu v√† c√°c gi√° tr·ªã NULL s·∫Ω ƒë∆∞·ª£c Pandas cho l√† Float64

#### üìå For each column with numeric data type, how are the values distributed?

üìö For columns with numeric data types, we will calculate some basic statistics:
- Percentage (from 0 to 100) of missing values
- The min
- The lower quartile (ph√¢n v·ªã 25)
- The median (ph√¢n v·ªã 50)
- The upper quartile (ph√¢n v·ªã 75)
- The max

Then we will observe and comment to see if the results are unusual?

In [239]:
num_col_info_df = data.select_dtypes(exclude=['object', 'bool'])

def missing_ratio(s):
    return (s.isna().mean() * 100)

def median(df):
    return (df.quantile(0.5))

def lower_quartile(df):
    return (df.quantile(0.25))

def upper_quartile(df):
    return (df.quantile(0.75))

num_col_info_df = num_col_info_df.agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])
num_col_info_df.T

,missing_ratio,min,lower_quartile,median,upper_quartile,max
subscribers,0.000000,12300000.0,1.450000e+07,1.770000e+07,2.460000e+07,2.450000e+08
video views,0.000000,0.0,4.288145e+09,7.760820e+09,1.355470e+10,2.280000e+11
uploads,0.000000,0.0,1.945000e+02,7.290000e+02,2.667500e+03,3.013080e+05
video_views_rank,0.100503,1.0,3.230000e+02,9.155000e+02,3.584500e+03,4.057944e+06
country_rank,11.658291,1.0,1.100000e+01,5.100000e+01,1.230000e+02,7.741000e+03
channel_type_rank,3.316583,1.0,2.700000e+01,6.550000e+01,1.397500e+02,7.741000e+03
video_views_for_the_last_30_days,5.628141,1.0,2.013750e+07,6.408500e+07,1.688265e+08,6.589000e+09
lowest_monthly_earnings,0.000000,0.0,2.700000e+03,1.330000e+04,3.790000e+04,8.509000e+05
highest_monthly_earnings,0.000000,0.0,4.350000e+04,2.127000e+05,6.068000e+05,1.360000e+07
lowest_yearly_earnings,0.000000,0.0,3.265000e+04,1.595000e+05,4.551000e+05,1.020000e+07
highest_yearly_earnings,0.000000,0.0,5.217500e+05,2.600000e+06,7.300000e+06,1.634000e+08
subscribers_for_last_30_days,33.869347,1.0,1.000000e+05,2.000000e+05,4.000000e+05,8.000000e+06
created_year,0.502513,1970.0,2.009000e+03,2.013000e+03,2.016000e+03,2.022000e+03
created_date,0.502513,1.0,8.000000e+00,1.600000e+01,2.300000e+01,3.100000e+01
Population,12.361809,202506.0,8.335541e+07,3.282395e+08,3.282395e+08,1.397715e+09

- C·ªôt `subscribers_for_last_30_days` c√≥ r·∫•t nhi·ªÅu d·ªØ li·ªáu b·ªã thi·∫øu (t·ªëi thi·ªÉu 33.3%), ti·∫øn h√†nh lo·∫°i b·ªè c·ªôt n√†y
- C√°c c·ªôt `video_views_rank`, `country_rank`, `channel_type_rank`, `video_views_for_the_last_30_days`, `Population` c√≥ d·ªØ li·ªáu b·ªã thi·∫øu, v√¨ v·∫≠y nh√≥m em s·∫Ω thay th·∫ø gi√° tr·ªã thi·∫øu b·∫±ng trung v·ªã c·ªßa m·ªói c·ªôt

üöß Preprocessing numerical columns

In [240]:
data.drop(["subscribers_for_last_30_days"], axis=1, inplace=True)

In [241]:
col_list = ['video_views_rank', 'country_rank', 'channel_type_rank', 'video_views_for_the_last_30_days','created_year','created_date','Population']
data.fillna(value=np.nan, inplace=True)

for col in col_list:
    data[col] = data[col].fillna(data[col].median().__round__(0))
    data[col] = data[col].astype(np.int64)

In [242]:
# TEST
data.select_dtypes(exclude=['object', 'bool'])\
    .agg([missing_ratio, "min", lower_quartile, median, upper_quartile, "max"])

,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,created_date,Population
missing_ratio,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.000000e+00,0.0,0.0,0.0,0.0,0.0,0.0,0.000000e+00
min,12300000.0,0.000000e+00,0.0,1.0,1.0,1.0,1.000000e+00,0.0,0.0,0.0,0.0,1970.0,1.0,2.025060e+05
lower_quartile,14500000.0,4.288145e+09,194.5,324.0,14.0,28.0,2.232300e+07,2700.0,43500.0,32650.0,521750.0,2009.0,8.0,1.260140e+08
median,17700000.0,7.760820e+09,729.0,916.0,51.0,66.0,6.408500e+07,13300.0,212700.0,159500.0,2600000.0,2013.0,16.0,3.282395e+08
upper_quartile,24600000.0,1.355470e+10,2667.5,3579.0,114.0,137.0,1.585655e+08,37900.0,606800.0,455100.0,7300000.0,2016.0,23.0,3.282395e+08
max,245000000.0,2.280000e+11,301308.0,4057944.0,7741.0,7741.0,6.589000e+09,850900.0,13600000.0,10200000.0,163400000.0,2022.0,31.0,1.397715e+09

#### üìå For each column with a non-numeric data type, how are the values distributed?

üìö For columns with non-numeric data types, we calculate:
- Percentage (from 0 to 100) of missing values
- Number of different values (and we do not consider missing values)
- Show a few values and percentage (from 0 to 100) of each value sorted by decreasing percentage (we do not consider missing values, the ratio is the ratio compared to the number of non-missing values)

Then we will observe and comment to see if the results are unusual?

Chuy·ªÉn `created_year`, `created_date` v·ªÅ d·∫°ng object

In [243]:
data['created_year'] = data['created_year'].astype(str)
data['created_date'] = data['created_date'].astype(str)

In [244]:
cat_col_info_df = data.select_dtypes(include=['object', 'bool'])

def missing_ratio(s):
    return (s.isna().mean() * 100)

def num_values(s):
    s = s.astype('str').str.split(';')
    s = s.explode()
    return len(s.value_counts())

def value_ratios(s):
    s = s.astype('str').str.split(';')
    s = s.explode()
    totalCount = (~s.isna()).sum()
    return ((s.value_counts()/totalCount*100).round(1)).to_dict()

cat_col_info_df = cat_col_info_df.agg([missing_ratio, num_values, value_ratios])
cat_col_info_df.T

,missing_ratio,num_values,value_ratios
Youtuber,0.0,995,"{'T-Series': 0.1, 'Hongyu ASMR √Ø¬ø¬Ω√Ø¬ø¬Ω': 0.1, '..."
category,4.623116,19,"{'Entertainment': 24.2, 'Music': 20.3, 'People..."
Country,12.261307,50,"{'United States': 31.5, 'India': 16.9, 'nan': ..."
channel_type,3.015075,15,"{'Entertainment': 30.6, 'Music': 21.7, 'People..."
created_year,0.0,19,"{'2014': 9.8, '2006': 9.1, '2011': 8.2, '2013'..."
created_month,0.502513,13,"{'Jan': 10.2, 'Sep': 9.6, 'Jul': 9.1, 'Nov': 9..."
created_date,0.0,31,"{'9': 4.5, '19': 4.3, '2': 3.9, '26': 3.9, '22..."

üöß Preprocessing categorical columns

In [245]:

cols_list = [ 'category', 'Country', 'channel_type', 'created_month']
for col in cols_list:
    data[col] = data[col].fillna(data[col].mode()[0])

In [246]:
# TEST
data.select_dtypes(include=['object', 'bool'])\
    .agg([missing_ratio, num_values, value_ratios])

,Youtuber,category,Country,channel_type,created_year,created_month,created_date
missing_ratio,0.0,0.0,0.0,0.0,0.0,0.0,0.0
num_values,995,18,49,14,19,12,31
value_ratios,"{'T-Series': 0.1, 'Hongyu ASMR √Ø¬ø¬Ω√Ø¬ø¬Ω': 0.1, '...","{'Entertainment': 28.8, 'Music': 20.3, 'People...","{'United States': 43.7, 'India': 16.9, 'Brazil...","{'Entertainment': 33.6, 'Music': 21.7, 'People...","{'2014': 9.8, '2006': 9.1, '2011': 8.2, '2013'...","{'Jan': 10.7, 'Sep': 9.6, 'Jul': 9.1, 'Nov': 9...","{'9': 4.5, '19': 4.3, '2': 3.9, '26': 3.9, '22..."

In [247]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Youtuber                          995 non-null    object
 1   subscribers                       995 non-null    int64
 2   video views                       995 non-null    int64
 3   category                          995 non-null    object
 4   uploads                           995 non-null    int64
 5   Country                           995 non-null    object
 6   channel_type                      995 non-null    object
 7   video_views_rank                  995 non-null    int64
 8   country_rank                      995 non-null    int64
 9   channel_type_rank                 995 non-null    int64
 10  video_views_for_the_last_30_days  995 non-null    int64
 11  lowest_monthly_earnings           995 non-null    float64
 12  highest_monthly_earnings          995 non-null    float64
 13  lowest_yearly_earnings            995 non-null    float64
 14  highest_yearly_earnings           995 non-null    float64
 15  created_year                      995 non-null    object
 16  created_month                     995 non-null    object
 17  created_date                      995 non-null    object
 18  Population                        995 non-null    int64
dtypes: float64(4), int64(8), object(7)
memory usage: 147.8+ KB

In [248]:
data.sample(5)

,Youtuber,subscribers,video views,category,uploads,Country,channel_type,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,lowest_yearly_earnings,highest_yearly_earnings,created_year,created_month,created_date,Population
58,Katy Perry,44200000,25458952022,Music,128,United States,Music,70,19,24,134242000,33600.0,537000.0,402700.0,6400000.0,2008,Jun,1,328239523
621,Zee Music Classic,15700000,5558051295,Music,1640,India,Music,1174,97,121,86450000,21600.0,345800.0,259300.0,4100000.0,2014,May,20,1366417754
164,Talking Tom,30200000,15199330166,Comedy,2,United States,Entertainment,4057345,7736,6776,64085000,0.0,0.0,0.0,0.0,2008,Jun,27,328239523
441,Little Angel Espa√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω√Ø¬ø¬Ω,18900000,9813245108,Education,719,Mexico,Education,459,16,24,140398000,35100.0,561600.0,421200.0,6700000.0,2018,Jan,26,126014024
113,T-Series Apna Punjab,34600000,21306315429,Music,0,United States,News,4057944,51,4653,64085000,0.0,0.0,0.0,0.0,2020,Jul,9,328239523

### **3. Asking meaningful questions**

### **4. Preprocessing + analyzing data to answer each question**