<div style="text-align: center; background-color: #0A6EBD; font-family: 'Trebuchet MS', Arial, sans-serif; color: white; padding: 20px; font-size: 40px; font-weight: bold; border-radius: 0 0 0 0; box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);">
  Final project - Programing For Data Science
</div>

## **Th√¥ng tin nh√≥m**

#### Th√†nh vi√™n 1:
* **H·ªç v√† t√™n:** V√µ Duy Anh
* **MSSV:** 21127221

#### Th√†nh vi√™n 2:
* **H·ªç v√† t√™n:** Nguy·ªÖn M·∫≠u Gia B·∫£o
* **MSSV:** 21127583

## **Th√¥ng tin ƒë·ªì √°n**

### **N·ªôi dung**
1. Collecting data
2. Exploring data
3. Asking meaningful questions
4. Preprocessing + analyzing data to answer each question
5. Reflection
6. References

### **Th∆∞ vi·ªán h·ªó tr·ª£**

In [2]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import datetime
import plotly.express as px
import numpy as np

### **1. Collecting data**

#### üìå What subject is your data about? What is the source of your data?

#### üìå Do authors of this data allow you to use like this? You can check the data license

#### üìå How did authors collect data?

### **2.Exploring data**

#### Read data from file

In [4]:
data = pd.read_csv("Global YouTube Statistics.csv",encoding='ISO-8859-1')
data.head()

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
0,1,T-Series,245000000,2.280000e+11,Music,T-Series,20082,India,IN,Music,...,2000000.0,2006.0,Mar,13.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880
1,2,YouTube Movies,170000000,0.000000e+00,Film & Animation,youtubemovies,1,United States,US,Games,...,NaN,2006.0,Mar,5.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
2,3,MrBeast,166000000,2.836884e+10,Entertainment,MrBeast,741,United States,US,Entertainment,...,8000000.0,2012.0,Feb,20.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
3,4,Cocomelon - Nursery Rhymes,162000000,1.640000e+11,Education,Cocomelon - Nursery Rhymes,966,United States,US,Education,...,1000000.0,2006.0,Sep,1.0,88.2,3.282395e+08,14.70,270663028.0,37.090240,-95.712891
4,5,SET India,159000000,1.480000e+11,Shows,SET India,116536,India,IN,Entertainment,...,1000000.0,2006.0,Sep,20.0,28.1,1.366418e+09,5.36,471031528.0,20.593684,78.962880

#### üìå How many rows and how many columns does the data have?

In [5]:
shape = data.shape
print(f"Data current shape: {shape}")

Data current shape: (995, 28)

In [6]:
row,col = data.shape
print(f'Data have {row} rows and {col} columns')

Data have 995 rows and 28 columns

#### üìå What is the meaning of each row?

####  üìå Does the data have duplicate rows?

In [7]:
index = data.index
detectDupSeries = index.duplicated(keep='first')
num_duplicated_rows = detectDupSeries.sum()

In [8]:
# TEST
if num_duplicated_rows == 0:
    print(f"Data have no duplicated line.!")
else:
    if num_duplicated_rows > 1:
        ext = "lines"
    else:
        ext = "line"
    print(f"Data have {num_duplicated_rows} duplicated " + ext + ".")

Data have no duplicated line.!

#### üìå What is the meaning of each column?

<table style="width: 100%; border-collapse: collapse;">
  <thead>
    <tr>
      <th style="min-width: 10px; width: 30px; background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">No</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Columns</th>
      <th style="background-color: #04B1CC; color: white; font-size :15px; font-weight: bold; text-align: left; padding: 8px;">Meaning</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td style="font-size: 14px; text-align: left;">1</td>
      <td style="font-size: 14px; text-align: left;">rank</td>
      <td style="font-size: 14px; text-align: left;">V·ªã tr√≠ c·ªßa k√™nh YouTube d·ª±a tr√™n s·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">2</td>
      <td style="font-size: 14px; text-align: left;">Youtuber</td>
      <td style="font-size: 14px; text-align: left;">T√™n k√™nh YouTube</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">3</td>
      <td style="font-size: 14px; text-align: left;">subscribers</td>
      <td style="font-size: 14px; text-align: left;">S·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">4</td>
      <td style="font-size: 14px; text-align: left;">video views</td>
      <td style="font-size: 14px; text-align: left;">T·ªïng s·ªë l∆∞·ª£t xem tr√™n t·∫•t c·∫£ video tr√™n k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">5</td>
      <td style="font-size: 14px; text-align: left;">category</td>
      <td style="font-size: 14px; text-align: left;">Danh m·ª•c ho·∫∑c ph√¢n kh√∫c c·ªßa k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">6</td>
      <td style="font-size: 14px; text-align: left;">Title</td>
      <td style="font-size: 14px; text-align: left;">Ti√™u ƒë·ªÅ c·ªßa k√™nh YouTube</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">7</td>
      <td style="font-size: 14px; text-align: left;">uploads</td>
      <td style="font-size: 14px; text-align: left;">T·ªïng s·ªë video upload tr√™n k√™nh</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">8</td>
      <td style="font-size: 14px; text-align: left;">Country</td>
      <td style="font-size: 14px; text-align: left;">Qu·ªëc gia n∆°i k√™nh YouTube b·∫Øt ngu·ªìn</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">9</td>
      <td style="font-size: 14px; text-align: left;">Abbreviation</td>
      <td style="font-size: 14px; text-align: left;">Vi·∫øt t·∫Øt c·ªßa qu·ªëc gia</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">10</td>
      <td style="font-size: 14px; text-align: left;">channel_type</td>
      <td style="font-size: 14px; text-align: left;">Lo·∫°i k√™nh YouTube (v√≠ d·ª•: c√° nh√¢n, th∆∞∆°ng hi·ªáu)</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">11</td>
      <td style="font-size: 14px; text-align: left;">video_views_rank</td>
      <td style="font-size: 14px; text-align: left;">X·∫øp h·∫°ng k√™nh d·ª±a tr√™n t·ªïng l∆∞·ª£t xem video</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">12</td>
      <td style="font-size: 14px; text-align: left;">country_rank</td>
      <td style="font-size: 14px; text-align: left;">X·∫øp h·∫°ng k√™nh d·ª±a tr√™n s·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω trong qu·ªëc gia c·ªßa k√™nh ƒë√≥</td>
    </tr>
    <tr>
      <td style="font-size: 14px; text-align: left;">13</td>
      <td style="font-size: 14px; text-align: left;">channel_type_rank</td>
      <td style="font-size: 14px; text-align: left;"> Ranking of the channel based on its type (individual or brand)</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">14</td>
      <td style="font-size: 14px; text-align: left;">video_views_for_the_last_30_days</td>
      <td style="font-size: 14px; text-align: left;"> T·ªïng s·ªë l∆∞·ª£t xem video trong 30 ng√†y qua</td>
    </tr>
     <tr>
      <td style="font-size: 14px; text-align: left;">15</td>
      <td style="font-size: 14px; text-align: left;">lowest_monthly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p h√†ng th√°ng ∆∞·ªõc t√≠nh th·∫•p nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">16</td>
      <td style="font-size: 14px; text-align: left;">highest_monthly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p h√†ng th√°ng ∆∞·ªõc t√≠nh cao nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">17</td>
      <td style="font-size: 14px; text-align: left;">lowest_yearly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p ∆∞·ªõc t√≠nh h√†ng nƒÉm th·∫•p nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">18</td>
      <td style="font-size: 14px; text-align: left;">highest_yearly_earnings</td>
      <td style="font-size: 14px; text-align: left;"> Thu nh·∫≠p ∆∞·ªõc t√≠nh h√†ng nƒÉm cao nh·∫•t t·ª´ k√™nh</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">19</td>
      <td style="font-size: 14px; text-align: left;">subscribers_for_last_30_days</td>
      <td style="font-size: 14px; text-align: left;"> S·ªë l∆∞·ª£ng ng∆∞·ªùi ƒëƒÉng k√Ω m·ªõi ƒë·∫°t ƒë∆∞·ª£c trong 30 ng√†y qua</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">20</td>
      <td style="font-size: 14px; text-align: left;">created_year</td>
      <td style="font-size: 14px; text-align: left;"> NƒÉm k√™nh YouTube ƒë∆∞·ª£c t·∫°o</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">21</td>
      <td style="font-size: 14px; text-align: left;">created_month</td>
      <td style="font-size: 14px; text-align: left;"> Th√°ng k√™nh YouTube ƒë∆∞·ª£c t·∫°o</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">22</td>
      <td style="font-size: 14px; text-align: left;">created_date</td>
      <td style="font-size: 14px; text-align: left;"> Ng√†y ch√≠nh x√°c t·∫°o k√™nh YouTube</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">23</td>
      <td style="font-size: 14px; text-align: left;">Gross tertiary education enrollment (%)</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá d√¢n s·ªë theo h·ªçc gi√°o d·ª•c ƒë·∫°i h·ªçc trong c·∫£ n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">24</td>
      <td style="font-size: 14px; text-align: left;">Population</td>
      <td style="font-size: 14px; text-align: left;"> T·ªïng d√¢n s·ªë c·∫£ n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">25</td>
      <td style="font-size: 14px; text-align: left;">Unemployment rate</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá th·∫•t nghi·ªáp trong n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">26</td>
      <td style="font-size: 14px; text-align: left;">Urban_population</td>
      <td style="font-size: 14px; text-align: left;"> T·ª∑ l·ªá d√¢n s·ªë s·ªëng ·ªü khu v·ª±c th√†nh th·ªã</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">27</td>
      <td style="font-size: 14px; text-align: left;">Latitude</td>
      <td style="font-size: 14px; text-align: left;"> T·ªça ƒë·ªô vƒ© ƒë·ªô c·ªßa v·ªã tr√≠ ƒë·∫•t n∆∞·ªõc</td>
    </tr>
      <tr>
      <td style="font-size: 14px; text-align: left;">28</td>
      <td style="font-size: 14px; text-align: left;">Longitude</td>
      <td style="font-size: 14px; text-align: left;"> T·ªça ƒë·ªô kinh ƒë·ªô c·ªßa v·ªã tr√≠ ƒë·∫•t n∆∞·ªõc</td>
    </tr>
  </tbody>
</table>

#### üìå What is the current data type of each column? Are there columns having inappropriate data types?

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 995 entries, 0 to 994
Data columns (total 28 columns):
 #   Column                                   Non-Null Count  Dtype
---  ------                                   --------------  -----
 0   rank                                     995 non-null    int64
 1   Youtuber                                 995 non-null    object
 2   subscribers                              995 non-null    int64
 3   video views                              995 non-null    float64
 4   category                                 949 non-null    object
 5   Title                                    995 non-null    object
 6   uploads                                  995 non-null    int64
 7   Country                                  873 non-null    object
 8   Abbreviation                             873 non-null    object
 9   channel_type                             965 non-null    object
 10  video_views_rank                         994 non-null    float64
 11  country_rank                             879 non-null    float64
 12  channel_type_rank                        962 non-null    float64
 13  video_views_for_the_last_30_days         939 non-null    float64
 14  lowest_monthly_earnings                  995 non-null    float64
 15  highest_monthly_earnings                 995 non-null    float64
 16  lowest_yearly_earnings                   995 non-null    float64
 17  highest_yearly_earnings                  995 non-null    float64
 18  subscribers_for_last_30_days             658 non-null    float64
 19  created_year                             990 non-null    float64
 20  created_month                            990 non-null    object
 21  created_date                             990 non-null    float64
 22  Gross tertiary education enrollment (%)  872 non-null    float64
 23  Population                               872 non-null    float64
 24  Unemployment rate                        872 non-null    float64
 25  Urban_population                         872 non-null    float64
 26  Latitude                                 872 non-null    float64
 27  Longitude                                872 non-null    float64
dtypes: float64(18), int64(3), object(7)
memory usage: 217.8+ KB